<!--Main Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav me-auto">
                    <li class="navbar-item">
                        <a class="nav-link" href="index.php">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?team=incr8">Incredible 8</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?team=viv7">Vivacious 7</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?team=vigilantes">Vigilantes</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?team=villains">Villains</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a class="nav-link" href="add.php">Add</a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>