<!--Main Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav me-auto">
                    <li class="navbar-item">
                        <a class="nav-link" href="/">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team?id=1">Incredible 8</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team?id=2">Vivacious 7</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="type?id=4">Vigilantes</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="type?id=3">Villains</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a class="nav-link" href="add">Add</a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>